header, footer {
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
}

header nav .login button, header nav .logout button, header nav .add-movie button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  text-transform: uppercase;
  color: inherit;
}

section .section-wrapper form .form-details input {
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #686458;
  background-color: transparent;
  font-size: 14px;
  margin: 5px 0;
}

section .section-wrapper form .form-details input {
  height: 30px;
  display: block;
}

section .section-wrapper form .user-action {
  border: none;
  background-color: transparent;
  color: #7e796a;
  font-size: 16px;
  margin: 5px 0;
  cursor: pointer;
}

header, footer {
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
}

header nav .login button, header nav .logout button, header nav .add-movie button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  text-transform: uppercase;
  color: inherit;
}

section .section-wrapper form .form-details input {
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #686458;
  background-color: transparent;
  font-size: 14px;
  margin: 5px 0;
}

section .section-wrapper form .form-details input {
  height: 30px;
  display: block;
}

section .section-wrapper form .user-action {
  border: none;
  background-color: transparent;
  color: #7e796a;
  font-size: 16px;
  margin: 5px 0;
  cursor: pointer;
}

html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #131210;
  color: #7e796a;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: 0;
}

* {
  box-sizing: border-box;
}

.decoration--line {
  width: 100%;
  height: 1px;
  border-right: 1px solid #b7b09b;
  border-left: 1px solid #b7b09b;
  background-color: #262420;
}

.logo {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

header .header--wrapper {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header--search {
  flex-grow: 1;
}

header .header--search input {
  margin-left: 20px;
  height: 25px;
  width: 30%;
  background-color: #131210;
  border: 2px solid #262420;
  color: white;
}

header nav .logout, header nav .add-movie {
  display: none;
}

footer .footer-container {
  text-align: center;
  height: 60px;
  line-height: 60px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  max-width: 450px;
  width: 100%;
  height: 350px;
  padding: 40px;
  border: 1px solid #7e796a;
  box-shadow: 0px 0px 10px 0px #7e796a;
}

section .section-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

section .section-wrapper .header {
  text-align: center;
}

section .section-wrapper .header i {
  font-size: 114px;
}

section .section-wrapper form {
  flex-grow: 1;
}

section {
  padding: 20px 40px !important;
}

input {
  color: white;
}
/*# sourceMappingURL=register-page.css.map */