<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="..\..\css\add-or-update-page.css">
  <script src="https://kit.fontawesome.com/637a8056ca.js" crossorigin="anonymous"></script>
  <title>Add or update page</title>
</head>

<body>

  <div class="wrapper">
    <button class="back" onclick="back()"><i class="fas fa-arrow-left"></i></i></button>
    </div>
    <header>
      <div class="header--wrapper">
        <div class="logo">Movies</div>
        <nav>
          <span>/</span>
          <a href="">Login</a>
        </nav>
      </div>
      <div class="decoration--line"></div>
    </header>
 
  <section>
    <div class="section-wrapper">
      <div class="image-game">
        <img src="..\..\images\765-default-avatar.png" alt="image game">
      </div>
      <form>
        <div class="form-details">
          <input class="title" type="text" placeholder="Movie title" />
          <textarea class="description" placeholder="Movie description"></textarea>
          <input class="year" type="text" placeholder="Movie year" />
          <input class="language" type="text" placeholder="Movie language" />
          <input class="runtime" type="text" placeholder="Movie runtime" />
          <input class="genre" type="text" placeholder="Movie genre" />
          <input class="rating" type="text" placeholder="Movie rating" />
          <input type="url" placeholder="Image url" />
        </div>

        <div class="save--button">
          <button type="button" onclick="save()">SAVE</button>
        </div>
      </form>
    </div>
  </section>
  <footer>
    <div class="decoration--line"></div>
    <div class="footer-container">
      <p>Cristina CRISAN</p>
    </div>

  </footer>
  <script type="text/javascript" src="../../http-service.js"></script>
  <script type="text/javascript" src="add-or-update.js"></script>
</body>

</html>