<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../css/login-page.css">
  <script src="https://kit.fontawesome.com/637a8056ca.js" crossorigin="anonymous"></script>
  <title>Login</title>
</head>

<body>
  <section>
    <div class="section-wrapper">
      <header>
        <i class="fas fa-users"></i>
      </header>
      <form>
        <div class="form-details">
          <input type="text" name="username" placeholder="Username" />
          <input type="password" name="password" placeholder="**********" />
        </div>
        <button class="submit" >Submit</button>
      </form>
      <footer>
        <span>No account?</span>
        <a href="#">Create one</a>
      </footer>
    </div>
  </section>
</body>

</html>