<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../css/login-page.css">
  <script src="https://kit.fontawesome.com/637a8056ca.js" crossorigin="anonymous"></script>
  <title>Login</title>
</head>

<body>
  <section>
    <div class="section-wrapper">
      <div class="header">
        <i class="fas fa-users"></i>
      </div>
      <form>
        <div class="form-details">
          <input type="text" class="user" name="username" placeholder="Username" />
          <input type="password" class="password" name="password" placeholder="**********" />
        </div>
        <button type="button" class="login" onclick="login()">Login</button>
      </form>
      <div>
        <span>No account?</span>
        <a href="../register/register-page.html">Create one</a>
      </div>
    </div>
  </section>
</body>
<script src="../../http-service.js"></script>
<script src="login.js"></script>
</html>