$primary-color: #7e796a;
$secondary-color: #686458;
$bg-color: #131210;
$border-color: #b7b09b;
$line-color: #262420;
$border-movie: #22201c;
$border-bottom: #ddd4bb;
$font-size: 14px;

%align-content {
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
}

%action-button {
  border: none;
  background-color: transparent;
  font-size: $font-size + 2px;
  text-transform: uppercase;
  color: inherit;
}
%input-textarea {
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid $secondary-color;
  background-color: transparent;
  font-size: $font-size;
  margin: 5px 0;
}

%input-design {
  height: 30px;
  display: block;
}

%form-button {
  border: none;
  background-color: transparent;
  color: $primary-color;
  font-size: $font-size + 2px;
  margin: 5px 0;
  cursor: pointer;
}

%wrapper {
  margin: 5px 0 0 0;
}

%back-button {
  display: block;
  font-size: $font-size + 10px;
  border: none;
  background-color: transparent;
  i {
    color: $primary-color;
  }
}
