$primary-color: #7e796a;
$secondary-color:#686458;
$bg-color: #131210;
$border-color: #b7b09b;
$line-color:#262420;
$border-movie:#22201c;
// $border-bottom: #ddd4bb;
$font-size: 14px;

%align-content {
  max-width: 1050px;
  width:100%;
  margin: 0 auto;
}
