@import "helpers";
@import "styles";

.login{
  button{
    @extend %action-button; 
  }
  .logout{
    display:none;
  }
}

section {
  @extend %align-content;
  // flex-grow: 1;
}
.section--wrapper {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  background-size: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  max-width: 200px;
  width: 100%;
  border: 1px solid $border-movie;
  margin: 5px;
  position: relative;
  .movie-title {
    display: none;
  }

  &:hover {
    background-image: url("../images/Batman-hover.jpg") !important;
    .movie-title {
      position: absolute;
      width: 100%;
      display: block;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
      text-align: center;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px auto;
  button {
    @extend %action-button;
  }
  .active {
    border-bottom: 2px solid $border-bottom;
  }
  :hover {
    opacity: 0.5;
    border-bottom: 2px solid $border-bottom;
  }
}

.regenerate {
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);

  button {
    @extend %back-button;
  }
}
