@import "helpers";
@import "styles";

section {
  @extend %align-content;
  flex-grow: 1;
}
.section--wrapper {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  max-width: 200px;
  width: 100%;
  border: 1px solid $border-movie;
  margin: 5px;
  img {
    max-width: 200px;
    width: 100%;
    height: auto;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px auto;
  a {
    font-size: $font-size + 2px;
    margin: 0 5px;
  }
  .active {
    border-bottom: 2px solid $border-bottom;
  }
  :hover{
    opacity:0.5;
    border-bottom: 2px solid $border-bottom;
  }
}


